.button__primary {
  padding: 20px 40px;
  background-color: $accent;
  border-radius: $border-radius-8;
  text-transform: uppercase;
  color: $base;
  font-weight: 700;
  font-size: 18px;
  line-height: 170%;
  letter-spacing: 0.36px;
  transition: background-color $timing-function;
  display: inline-block;
  width: fit-content;

  &:hover {
    background-color: $contrast;
  }
}
