.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

.highlight {
  position: relative;
  display: flex;
  align-items: center;
  background-color: transparent;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 170%;
  letter-spacing: 0.36px;

  &::before {
    content: '';
    background-color: $accent;
    display: inline-block;
    margin-right: 20px;
    border-radius: 8px;

    @include position(relative, null, null);
    @include box(100px, 8px);

    @include mobile-only {
      width: 50px;
    }
  }
}

.dot {
  position: relative;
  background-color: transparent;
  display: flex;
  align-items: center;

  &::before {
    content: '';
    background-color: $blue;
    display: inline-block;
    margin-right: 10px;
    border-radius: 8px;

    @include position(relative, null, null);
    @include box(14px);
  }
}

.global-padding {
  padding-left: var(--padding-left);
  padding-right: var(--padding-right);
}
